html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    box-sizing: border-box;
}
#navbar{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#work{
    background: #275EB1;
    border-radius: 25px;
    padding: 10px;
}
#navitems{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navitems a{
    text-decoration: none;
    color: black;
}
#navitems> li{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    margin-left: 200px;
}
footer{
    width: 100vw;
    background-color: wheat;
    position: fixed;
    left: 50%;
    top: 97.5%;
    transform: translate(-50%, -50%);
}
footer h4{
    text-align: center;
}
.d-block{
    height: 150px;
    width: 200px;
}
.container-fluid{
    background-image: url('./images/pic1.jpg');
    height: 88vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    color: black;
    margin-right: 40px;
    font-size: 3em;
    font-weight: 500;
}
#tag{
    color: black;   
    margin-right: 40px;
    font-size: 2em;
}
.btn-primary{
    margin-right: 40px;
    margin-top: 20px;
}
.gids{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: rgb(250, 235, 215); */
    background-image: url('./images/bister-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    border: 1px solid black;
    box-shadow: 5px 5px #888888;
    margin: 20px 30px;
    padding: 30px;
}
.cards:hover{
    box-shadow: 5px 10px #888888;
}
@media screen and (max-width: 380px) {
    .cards{
        width: 100%;
        margin: 10px 10px;
    }
    .gids{
        height: 100%;
        max-width: 100%;
        background-color: rgb(250, 235, 215);;
    }
    footer h4{
        font-size: 0.5em;
    }
    footer{
        width: 100vw;
        background-color: wheat;
        position: fixed;
        left: 50%;
        top: 99%;
        transform: translate(-50%, -50%);
    }
    .sec-2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgba(211, 254, 163, 0.836);
      }
      li{
          margin-left: 10px;
          font-size: 12px;
      }
      .bisterholders{
          color: black;
      }
  }
  @media screen and (max-width: 415px) {
      #nav1{
          display: none;
      }
      #navitems{
          /* display: block; */
      }
      #navitems li{
        margin-left: 10px;
      }
    .cards{
        width: 100%;
        margin: 10px 10px;
    }
    .mb-1{
        width: 200px;
    }
    .gids{
        height: 100%;
        max-width: 100%;
        background-color: rgb(250, 235, 215);;
    }
    footer h4{
        font-size: 0.5em;
    }
    footer{
        width: 100vw;
        background-color: wheat;
        position: fixed;
        left: 50%;
        top: 99%;
        transform: translate(-50%, -50%);
    }
    .sec-2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgba(211, 254, 163, 0.836);
      }
      li{
          margin-left: 10px;
          font-size: 12px;
      }
      #logoblack{
          height: 100px;
          width: 200px;
      }
      #logowhite{
        height: 50px;
        width: 100px;
      }
  }
  #section2{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.836);
  }
  .card{
      margin: 20px;
      max-width: 400px;
      text-align: center;
  }
  .sec-2{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: rgba(211, 254, 163, 0.836); */
    background-image: url('./images/bister88.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .social{
      width: 335px;
      border-color: white;
      color: white;
      padding: 10px;
  }
  .tag-2{
    text-align: center;
  }
  .cards{
      background-color: white;
  }
  .sec-2 .cards{
      border-radius: 50%;
  }
  .sec-2 img{
      border-radius: 50%
  }
  .sec-2 p{
      font-weight: bold;
      margin: 5px;
  }
  .section3{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .section3 .sec3a1{
      display: flex;
      align-items: flex-end;
  }
  .section3 li{
      list-style: none;
      padding: 10px;
      font-size: 20px;
  }
  .sec-4{
    min-height: 90vh;
    width: 100%;
    /* background-color: rgba(152, 48, 105, 0.274); */
    background-image: url('./images/bister-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .comments{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .head{
    padding: 50px 20px;
    text-align: center;    
  }
  .socialicons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .flexarrange{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  @media screen and (min-width: 415px)
  {
      .mb-1{
          width: 400px;
          margin: 10px 10px;
      }
  }